.topColor {
  background-color: #cdaa92;
  height: 100px;
}

.firstpic {
  height: 75vh;
  /* width: %; */
  /* overflow: visible; */
  /* size: cover; */
  /* overflow: hidden; */
  background-image: url('./foodtraditional.png');
  background-repeat: no-repeat, repeat;
  background-position: bottom; 
  background-size: 100%
  
  /* background-position: center; */
  
}

.secpic {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

@media(max-width:1200px) {
  /* .firstpic { */
    /* height: 450px; */
  /* } */

  .textheader {
    font-size: 22px;
  }

  .textcontent {
    font-size: 16.72px;
  }

  .textfooter {
    font-size: 14px;
  }

}

@media(max-width:600px) {
  /* .firstpic { */

    /* height: 250px; */
  /* } */

  .textheader {
    font-size: 18px;
    /* color: black; */
    /* background-color: black; */
  }

  .textcontent {
    font-size: 12.72px;
  }

  .textfooter {
    font-size: 10px;
  }


}

.btnon {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.btnon:hover {
  background-color: #f1f1f1;
}

.ImgZ {
  font-weight: 1000;
  height: 50px;
  background-image: url("./文字背景.png");
  background-size: 250px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  text-shadow: 1px 1px rgba(255, 217, 0, 0.493);
}