.topColor {
  background-color: #cdaa92;
  height: 100px;
}

.firstpic {
  height: 600px;
}

@media(max-width:1200px) {
  .firstpic {
    height: 450px;
  }

  .textheader {
    font-size: 22px;
  }

  .textcontent {
    font-size: 16.72px;
  }

  .textfooter {
    font-size: 14px;
  }

}

@media(max-width:600px) {
  .firstpic {

    height: 250px;
  }

  .textheader {
    font-size: 18px;
  }

  .textcontent {
    font-size: 12.72px;
  }

  .textfooter {
    font-size: 10px;
  }


}

.btnmore {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

.btnmore {
  border-right: 6px;
  --text-stroke-color: rgb(255, 202, 87);
  --animation-color: #ff9900;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 1.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.btnmore:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.btnon {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.btnon:hover {
  background-color: #f1f1f1;
}

.ImgZ {
  font-weight: 1000;
  height: 50px;
  background-image: url("./文字背景.png");
  background-size: 250px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  text-shadow: 1px 1px rgba(255, 217, 0, 0.493);
}

.newnews {
  font-weight: 1000;
  height: 80px;
  background-image: url("./newnews.png");
  background-size: 150px 80px;
  background-position: 0%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px rgba(255, 217, 0, 0.493);
}