/* #footer {
    background-color:cornflowerblue;
} */
.cart-food-sp {
    /* height: 80px; */
    min-height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.menutailBar {
    /* background-color:indianred; */
    height: 30px;
    /* display: flex;
    justify-content: right; */
}

#number {
    /* display */
    padding: none;
    align-items: right;
}

.menutail:hover {
    background-color:  rgb(49, 166, 150,0.6) ;
}

#cartfooter{
    height: 80px;
    background-image: url(../../img/14.png);
    background-size: 20%;
    background-repeat: repeat-x;
    background-position: bottom;
    /* margin:30PX 0; */
}