.panel-wrapper {
    position: relative;
    z-index: 99;
    text-align: center;
  }
  
  .panel-wrapper .panel {
    transition: all 0.3s ease-in-out;
    transform: translateX(25rem);
  }
  
  .panel-wrapper.active .over-layer {
    display: block;
  }
  
  .panel-wrapper.active .panel {
    transform: translateX(0);
  }
  
  .over-layer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
  }
  
  .panel {
    width: 25rem;
    position: fixed;
    top: 10%;
    bottom: 0;
    right: 0;
    background: #fff;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
    transform: translateX(25rem);
    transition: all 0.3s ease-in-out;
    z-index: 99;
  }
  
  .panel .head {
    padding: 0.5rem;
    text-align: right;
  }
  
  .panel .head .close {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    line-height: 1;
    margin-right: 4px;
  }

  /* AddInventary_try.. */
