#searchBox {
    width: 80%;
}

#sunsuaSearchProposal {
    outline: none;
    /* border: 3px solid rgb(0, 40, 79); */
    border: 3px solid rgb(46, 128, 176);
    border-radius: 50px;
    min-height: 455px;
}
#sunsuaSearchProposal :after{
    content:"";
    background-color: red;
    
    
}