#setProposal {
    background-color: #ffffff;
    width: 100px;
    border: 1px red solid;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}


#sunsuaProposal .sunsuaInput:focus {
    outline: none;
    border: rgb(46, 128, 176) 2px solid;
    /* border-bottom: red 2px solid; */
    /* transition: transform var(--timing) ease; */
}

#sunsuaProposal .container {
    border: 3px solid rgb(49, 166, 150);
    border-radius: 50px;
}

/* #sunsuaProposal .container::before {
    border: 3px solid rgb(49, 166, 150);
    border-radius: 50px;
} */

.rwd-table {
    /* background: #fff; */
    overflow: hidden;
}

.rwd-table tr:nth-of-type(2n) {
    /* background: #eee; */
}

.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}

.rwd-table {
    min-width: 100%;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    /* content: attr(data-th) " : "; */
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table th,
.rwd-table td:before {
    color: #D20B2A;
    font-weight: bold;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}