.twSvg {
  fill: none;
  stroke: #5F9EA0;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 800px;
  width: 100%;
}

@media(max-width:600px) {
  .twSvg {
    height: 400px;
    width: 100%;
  }

}

.st1 {
  fill: #6DD0A6;
  fill: #fff;
  stroke: #5F9EA0;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}