/* .back {
  background-image: url("");
  position: relative;
  max-width: 1600px;
  background-repeat: no-repeat;
} */
.topColor {
  background-color: #cdaa92;
  height: 130px;
}

.ShopCooperation {
  margin-left: 632px;
}

.wid {
  float: right;
}