.sign-wrapper{
    display: flex;
    justify-content: center;
    /* height: 50vh; */

    align-items:center;
}
.signin-button{
    /* padding: 30px; */
    font-Size: 20px;
    border-Radius: 0;
    font-Weight: 600;
}
.chatroom-wrapper{
    border: 1px solid black;

    position:fixed  ;
    height:65vh;
    overflow: scroll;
    right:20px;
    bottom:20px;
    z-index: 99;
    background-color: white;
    width:25%;
}
.signout-wrapper{
    border-bottom: 1px solid gray;
    display: flex;
    height: 50px;
    /* float: right; */
    position: fixed ;
    background-color: white;
}
.signout-wrapper .avatar{
    background-image: url(../img/avatar.png);
    width:50px;
    background-size: cover;
    border-radius: 50%;
}
.signout-wrapper .name{
    margin: auto 0;
    font-size: 18px;
    font-weight: 600;
}
.signout-button{
    font-size: 12px;
    border-radius: 5px;
    margin: 11px 5px 11px 95px ;

    /* position: absolute;
    right: 0px; */
}
.chatroom-wrapper .msgs {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    /* 文字區塊 */
}
.chatroom-wrapper .msgs img{
    border-radius: 50%;
    height: 35px;
    width:35px;
    border: 2px solid black;

}
.chatroom-wrapper .msgs p{
    font-weight: 500;
    font-size: 15px;
    margin: 10px;
    overflow-wrap: break-word;
}
.chatroom-wrapper .msg {
    display: flex;
    width:75%;
    /* padding: 20px; */
    margin: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
    align-items: center;
    /* 單一條文字 */
}

/* 判斷彼此是寄件人還是收件人 */
.chatroom-wrapper .msgs .sent {
    background-color: rgb(145, 145, 207);
    border: 1px solid black;
    color: white;
    flex-direction: row-reverse;
    float: right;
}
.chatroom-wrapper .msgs .received {
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    float: left;
}

.sendMessage-wrapper{
    display: flex;
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 10px;
    background-color: #fafafa;
    align-items: center;
    height:45px;
    position: fixed;
    bottom: 21px;
    width:23.5%;
    box-shadow: 0 2px 5px grey;
}
.sendMessage-wrapper input{
    width:80%;
    border: none;
    border-bottom: 2px solid grey;
    margin:0 15px;
    background-color: #fafafa;
    outline: none;
}
.sendMessage-wrapper button{
    width:20%;
    border: none;
    margin:0 15px;
    background-color: #fafafa;
    font-size: 15px;
    font-weight: bold;
    border-left: 2px solid gray;
}